{% load static %}
<div class="confirm-delete-popup-overlay" id="confirm-approve-popup" style="display: none; z-index: 100002;">
    <div class="confirm-delete-popup-box">
        <img class="error-icon" src="{% static 'images/confirm_icon.png' %}" alt="Confirm">
        <div class="heading">DUYỆT</div>
        <p class="message-line1">Bạn có chắc chắn muốn duyệt đề nghị này?</p>
        <button class="no-btn" id="approve-popup-no-btn">Hủy</button>
        <button class="yes-btn" id="approve-popup-yes-btn">Đồng ý</button>
    </div>
</div>

<!---->