{% load static %}
<!-- Common Alert Popup -->
<div class="common-popup-overlay" id="common-alert-popup">
    <div class="common-popup-box">
        <div class="common-popup-content">
            <div class="common-popup-title" id="common-alert-title">THÔNG BÁO</div>
            <div class="common-popup-message" id="common-alert-message">Thông báo từ hệ thống</div>
        </div>
        <div class="common-popup-actions">
            <button class="common-popup-btn common-popup-btn-ok" id="common-alert-ok">Xác nhận</button>
        </div>
    </div>
</div>
