{% load static %}
<div class="confirm-popup-overlay" id="confirm-logout-popup">
    <div class="confirm-popup-box">
        <img class="mdi-light-alert" src="{% static 'images/confirm_icon.png' %}" alt="Confirm Icon" />
        <div class="heading"><div class="text-wrapper">XÁC NHẬN ĐĂNG XUẤT</div></div>
        <p class="div">Bạn có chắc chắn muốn đăng xuất?</p>
        <button class="button-no" id="logout-no-btn"><div class="text-wrapper-2">Không</div></button>
        <button class="button-yes" id="logout-yes-btn"><div class="text-wrapper-3">Đồng ý</div></button>
    </div>
</div>
